<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>All Buses</title>
</head>
<body>
    <table class="table">
        <tr>
            <th scope="col">Bus Stop</thead>
            <th scope="col">Bus Line</thead>
            <th scope="col">Direction</thead>
            <th scope="col">Expected Time Of Departure</thead>
        </tr>
        {% for bus in upcomingBuses %}
            <tr>
                <td scope="row">{{ bus.lineNumber }}</td>
                <td>{{ bus.busStop }}</td>
                <td>{{ bus.direction }}</td>
                <td>{{ bus.expectedDepartureTime }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>Last Updated: {{ timeStamp }}</p>
</body>
</html>